body {
    margin: 0;
}

header {
    display: flex;
    
}

.criminalsContainer, .officersContainer, .facilityContainer--style {
    border: 4px solid black;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3px;
}

.criminal-card, .officer-card, .statement--cards, .facility__card {
    text-align: center;
    border: 3px double black;
    box-shadow: 0px 2px 13px 1px;
    flex-basis: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.criminal-card:hover, .officer-card:hover, .statement--cards:hover, .facility__card:hover {
    text-align: center;
    border: 3px double black;
    box-shadow: 0px 2px 13px 10px;
    flex-basis: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.investigations {
    display: flex;
}

.notesContainer {
    border: 4px solid black;
    flex: 1
}

.form {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 250px;
}
.noteCard {
    border: 2px solid black;
    margin: 10px;
}

.alibi__list {
    border: 3px solid black;
    height: 200px;
    overflow: scroll;
}

.witnessBtn {
    height: 50px;
    align-self: flex-end;
}